<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:arg name="robot_name" default="robot_core"/>
    <xacro:property name="robot_name" value="$(arg robot_name)"/>

    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">
            <ros>
                <namespace>$(arg robot_name)</namespace>
            </ros>
            <!-- Wheel Information -->
            <left_joint>$(arg robot_name)/left_wheel_joint</left_joint>
            <right_joint>$(arg robot_name)/right_wheel_joint</right_joint>
            <wheel_separation>0.4</wheel_separation>
            <wheel_diameter>0.2</wheel_diameter>

            <!-- Limits -->
            <max_wheel_torque>100</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>

            <!-- Output -->
            <odometry_frame>$(arg robot_name)/odom</odometry_frame>
            <robot_base_frame>$(arg robot_name)/base_link</robot_base_frame>

            <publish_odom>true</publish_odom>
            <odometryTopic>$(arg robot_name)/odom</odometryTopic>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

        </plugin>
    </gazebo>


</robot>