<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="robot_name" default="robot_core"/>
    <xacro:property name="robot_name" value="$(arg robot_name)"/>

    <xacro:include filename="${robot_name}.xacro"/>

    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="ros2_control.xacro" />
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="gazebo_control.xacro" />
    </xacro:unless>

    <xacro:include filename="lidar.xacro"/>
    <xacro:include filename="imu.xacro"/>
    
    
</robot>